@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D9A282, #2A8C8C );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #734230;
    padding: 5px;
    width: 600px; /*capitura onde está a escrita */
    margin: auto;
}

h1 {
    color: #734230;
    text-align: center;
    text-shadow:1px 1px 2px #2b191279;
}

h2 {
    color: #7AB8BF;
}

p {
    text-align: justify;
}